syntax: glob

.git/
.DS_Store
*.pyc
*.stats.json
*.stats.new.json
.idea
.npm-debug.log
geckodriver.log

.nginx/

.vagrant
Vagrantfile

npm-debug.log

media/*
static/*
front/migrations/
tools/files/migrations/
tools/slack/migrations/
tools/salesforce/migrations/

node_modules/
venv/
.venv/
bin/
package-lock.json
uwsgi.ini
celerybeat-schedule

*.sublime-workspace
*.sublime-project
.vscode

.editorconfig

config.json
assets/app/control/styles/static-url.less
assets/app/front/static-url.less

assets/js/django_js_control/reverse.js
assets/js/django_js_front/reverse.js

tools/data/team
tools/data/*.xlsx
tools/data/duply-database.sql
