<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-token" content="{{ csrf_token }}">

    {% block static %}
        {% if not HOT_RELOADING %}
            {% block bundle_styles %}
                <link href="{{ static(bundle('control', 'control', 'main.css')) }}" rel="stylesheet">
            {% endblock %}
        {% endif %}
    {% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.22.1/css/medium-editor.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.22.1/css/themes/beagle.css" rel="stylesheet">

    {# Генерируем favicon в разных форматах с помощью http://www.favicomatic.com/ #}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ static('favicon/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('favicon/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('favicon/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('favicon/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ static('favicon/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ static('favicon/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ static('favicon/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ static('favicon/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ static('favicon/favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ static('favicon/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ static('favicon/mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ static('favicon/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ static('favicon/mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ static('favicon/mstile-310x310.png') }}" />
</head>

<body class="{% block body_class %}{% endblock %}">
<img style="display:none" alt="" src="{{ static('svg/control.sprite.svg') }}">

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block data %}
    <script>
        window.app = {
            data: {}, settings: {
                staticUrl: '{{ STATIC_URL }}',
                urls: {},
                hotReloading: {{ HOT_RELOADING|tojson }}
            }
        };
    </script>
{% endblock %}

{% block body %}
{% endblock %}

{% block libs %}
    {# Загружаем jquery с CDN Google, если он не доступен загружаем с своего сервера #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ static ('custom_libs/jquery.min.js') }}"><\/script>')</script>
{% endblock %}

{% block bundle_scripts %}
    <script src="{{ static(bundle('control', 'control', 'main.js')) }}" async></script>
{% endblock %}

{% if not DEBUG %}
    {% include 'Analytics.jinja' %}
{% endif %}
</body>
</html>
