{% import "front/utils/macros.jinja" as macros %}

{% macro AboutIntro() %}
    <div class="AboutIntro isAnimated">
        <div class="AboutIntro-title">Blindsight is a short film created by a collaborative group of designers and artists, and directed by Danil Krivoruchko. The film is based on the eponymous sci-fi novel by Peter Watts.</div>
        <div class="AboutIntro-inner">
            <div class="AboutIntro-disclaimer">Disclaimer →</div>
            <p class="AboutIntro-text">This is a non-commercial project. The film was made by a team of talented creatives from around the globe between 2016 and 2020. This film is fully self-funded.<br><br>All artwork ©Blindsight team. The work can not be used without permission. Blindsight novel is by (cc) Peter Watts</p>
        </div>
    </div>
{% endmacro %}